#wrapper {
display: grid;
grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
grid-template-rows: 80px 1fr;
}

#header {
    grid-row: 1;
    grid-column: 1 /-1;
    background-color: rgba(255,255,255,0.3);
}