#wrapper {
    display: grid;
    grid-template-columns: 
    minmax(0px, 1fr) 
    repeat(6, minmax(0, 175px)) 
    minmax(0px, 1fr);
}

#header {
    grid-column: 1 / -1;
    background: rgba(255, 0, 0, 0.3);
    height: 120px;
}

#bluebox-left {
    grid-column: 1 / 4;
    background: rgba(0, 0, 255, 0.3);
    height: 500px;
}

#greenbox-right {
    grid-column: 4 / -1;
    background: rgba(0, 255, 26, 0.3);
    height: 500px;
}

#greenbox-left {
    grid-column: 1 / 6;
    background: rgba(0, 255, 26, 0.3);
    height: 500px;
}

#bluebox-right {
    grid-column: 6/ -1;
    background: rgba(0, 0, 255, 0.3);
    height: 500px;
}

#footer {
    grid-column: 1 / -1;
    background: rgba(255, 8, 0, 0.3);
    height: 120px;
}